<div fxLayout="row" fxLayoutAlign="start center" class="social-icons">
  <a href="/"
    ><img
      src="../../../assets/icons/social media/facebook-icon.svg"
      alt="Facebook"
      width="20px"
  /></a>
  <a href="/"
    ><img
      src="../../../assets/icons/social media/instagram-icon.svg"
      alt="Instagram"
      width="20px"
  /></a>
  <a href="/"
    ><img
      src="../../../assets/icons/social media/pinterest-icon.svg"
      alt="Pinterest"
      width="20px"
  /></a>
  <a href="/"
    ><img
      src="../../../assets/icons/social media/linkedin-icon.svg"
      alt="Linked-in"
      width="20px"
  /></a>
  <a href="/"
    ><img
      src="../../../assets/icons/social media/twitter-icon.svg"
      alt="Twitter"
      width="20px"
  /></a>
</div>
