<div
  [ngClass]="{ 'social-icons--white': this.whiteIcons }"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="7px"
>
  <a href="https://facebook.com/whitespacerenovation">
    <img
      src="assets/icons/social media/facebook-icon.svg"
      alt="Facebook"
      width="20px"
    />
  </a>
  <a href="https://instagram.com/whitespacerenovation?igshid=1rs0he5r52z82">
    <img
      src="assets/icons/social media/instagram-icon.svg"
      alt="Instagram"
      width="20px"
    />
  </a>
  <a href="https://www.pinterest.fr/white_space_renovation">
    <img
      src="assets/icons/social media/pinterest-icon.svg"
      alt="Pinterest"
      width="20px"
    />
  </a>
  <a href="https://www.linkedin.com/company/white-space-renovation">
    <img
      src="assets/icons/social media/linkedin-icon.svg"
      alt="Linked-in"
      width="20px"
    />
  </a>
</div>
