@import "src/styles-colors.scss";
@import "src/styles.scss";

.questionnaire {
  @media screen and (max-width: 960px) {
    height: 620px;
  }
}

.questionnaire__btn {
  min-width: 120px;
}

.quest_msg {
  width: 55vw;
  text-align: center;
  margin: 0;
  font-size: 1vw;
  font-weight: $regular;
}
