<div
  class="questionnaire"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <div
    *ngIf="this.questions?.length"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutAlign.lt-md="start center"
    fxLayoutGap="2vh"
    fxLayoutGap.lt-md="10px"
  >
    <div class="quest_msg">
      {{ this.questionMsg }}
    </div>

    <app-question-stepper
      (selectStepEvent)="this.moveQuestionTo($event.index)"
    ></app-question-stepper>

    <app-question
      class="width-100"
      [question]="this.questions[this.toShowIndex]"
      (changeAnswerEvent)="this.onChangeAnswer($event)"
    >
    </app-question>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1vw">
      <button
        class="checkout__btn--invert questionnaire__btn"
        (click)="this.moveQuestionTo(this.toShowIndex - 1)"
      >
        Previous
      </button>

      <button
        class="checkout__btn questionnaire__btn"
        (click)="this.openUploadModal()"
      >
        UPLOAD
      </button>

      <button
        class="checkout__btn questionnaire__btn"
        (click)="this.moveQuestionTo(this.toShowIndex + 1)"
      >
        Next
      </button>
    </div>
  </div>

  <span class="quest_msg width-100">
    If you need help with filling this form out, contact us via
    <a [href]="this.mailHref" class="app__a--none">email</a>
    . We are happy to assist you every step of the way
  </span>
</div>
