<ng-template #sideCardFQA>
  <div
    class="sc-fqa__container"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="3.125vw"
  >
    <div
      class="sc-fqa__nav"
      fxLayout="column"
      fxLayoutAlign="start end"
      fxLayoutGap="1.041vw"
      fxFlex="15%"
    >
      <div
        *ngFor="let label of this.navLabels"
        class="sc-fqa__nav-label cursor-pointer"
        [ngClass]="{
          'sc-fqa__nav-label--selected': label === this.selectedNavLabel
        }"
        (click)="this.selectContent(label)"
      >
        {{ label }}
      </div>
    </div>
    <div
      class="sc-fqa__content"
      fxLayout="column"
      fxLayoutAlign="space-between start"
      fxLayoutGap=".52vw"
      fxFlex
    >
      <div
        class="width-100"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap=".52px"
      >
        <app-opening-label
          class="width-100"
          *ngFor="let content of this.contentList; index as i"
          [label]="content.label"
          [description]="content.description"
          [toShowDescription]="content.isOpen"
          [toShowOnClick]="this.isHandset"
          (stateChangesEvent)="this.onStatusChange($event, i)"
        ></app-opening-label>
      </div>
      <span>Still need help? Contact us via hi@whitespacerenovation.com</span>
    </div>
  </div>
  <div *ngIf="!this.isHandset" class="sc-fqa__container--big-faq">FAQ's</div>
</ng-template>

<div *ngIf="this.isHandset" appGradient>
  <ng-container *ngTemplateOutlet="sideCardFQA"></ng-container>
</div>
<div *ngIf="!this.isHandset">
  <ng-container *ngTemplateOutlet="sideCardFQA"></ng-container>
</div>
