.sc-fqa__container {
  padding: 6%;
}

.sc-fqa__nav-label {
  font-size: 1.5rem;
  font-weight: 400;
}

.sc-fqa__nav-label--selected {
  text-decoration: underline;
}

.sc-fqa__content {
  padding-top: 0.2rem;
}
