<div
  class="login-page"
  [ngClass.lt-md]="{ 'container__padding--lt-md': true }"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="2vw"
  fxLayoutGap.lt-md="15px"
>
  <app-logo class="login-page__logo"></app-logo>
  <div
    class="login__form"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="1vw"
    fxLayoutGap.lt-md="15px"
  >
    <div fxLayout="row" fxLayoutAlign="start center">
      <button class="basic__btn" (click)="this.showRegisterTab()">
        Register
      </button>
      <span class="login-page__tab-divider"> or </span>
      <button class="checkout__btn" (click)="this.showLoginTab()">
        Log in
      </button>
    </div>
    <div>Let’s make this design all about you!</div>
    <app-register *ngIf="this.toShowRegisterTab"></app-register>
    <app-login *ngIf="!this.toShowRegisterTab"></app-login>
  </div>
</div>
