@import "src/styles.scss";

$form-width: 30vw;

.login-page__logo {
  margin-top: 15vh;
}

.login__form {
  width: $form-width;
  @media screen and (max-width: 960px) {
    width: 300px;
  }
}

.login-page {
  height: 95vh;
}

.login-page__tab-divider {
  margin-right: 16px;
}
