<div
  class="login-page"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="2vw"
>
  <app-logo class="login-page__logo"></app-logo>
  <div
    class="login__form"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="1vw"
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
      <div class="cursor-pointer" (click)="this.showRegisterTab()">
        Register
      </div>
      <span>//</span>
      <div class="checkout__btn" (click)="this.showLoginTab()">
        Log in
      </div>
    </div>
    <div>Let's create something personal!</div>
    <app-register *ngIf="this.toRegister"></app-register>
    <app-login *ngIf="!this.toRegister"></app-login>
  </div>
</div>
