@import "src/styles.scss";

$form-width: 30vw;

.login-page__logo {
  margin-top: 15vh;
}

.login__form {
  width: $form-width;
}

.login-page {
  height: calc(90vh);
  //TODO: Make this work...
  // height: calc(100vh - #{$footer-height});
}
