<div
  *ngIf="this.data"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h2>
      {{ this.data.titleLabel }}
    </h2>
  </div>
  <mat-dialog-content
    class="conf-dialog__message"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    {{ this.data.message }}
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="this.isTypeInfo" align="center">
    <button
      class="checkout__btn--rose conf-dialog__btn-width"
      [mat-dialog-close]="true"
    >
      Ok, got it
    </button>
  </mat-dialog-actions>
  <mat-dialog-actions
    *ngIf="!this.isTypeInfo"
    class="width-100"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <button
      class="checkout__btn--invert conf-dialog__btn-width"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      class="checkout__btn--rose conf-dialog__btn-width"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Yes
    </button>
  </mat-dialog-actions>
</div>
