@import "src/styles-colors.scss";

h1 {
  margin: 0;
}

.review-pay__left-header {
  padding: 10px 20px;
}

.review-pay__label-group {
  padding: 10px 20px;
  border-top: 2px solid $color-gray-6;
}

app-info-price-label {
  font-size: 24px;
}
