@import "../../../styles.scss";

.side-card__container {
  position: fixed;
  bottom: 11.5%;
  right: $navbar-height;

  z-index: 2001;

  width: 70vw;
  height: $navbar-width;

  color: white;
  background: rgb(214, 184, 214);
  // background: -moz-linear-gradient(
  //   90deg,
  //   rgba(242, 232, 220, 1) 0%,
  //   rgba(217, 183, 197, 1) 50%,
  //   rgba(15, 13, 59, 1) 100%
  // );
  // background: -webkit-linear-gradient(
  //   90deg,
  //   rgba(242, 232, 220, 1) 0%,
  //   rgba(217, 183, 197, 1) 50%,
  //   rgba(15, 13, 59, 1) 100%
  // );
  // background: linear-gradient(
  //   90deg,
  //   rgba(242, 232, 220, 1) 0%,
  //   rgba(217, 183, 197, 1) 50%,
  //   rgba(15, 13, 59, 1) 100%
  // );

  //   background-color: rosybrown;
}
