<div fxLayout="row" fxLayoutAlign="start center">
  <button
    mat-icon-button
    shareButton="facebook"
    title="Share On Facebook"
    [url]="this.url"
    #fbBtn="shareButton"
  >
    <fa-icon [icon]="this.icons.facebook" size="lg"></fa-icon>
  </button>
  <button
    mat-icon-button
    shareButton="pinterest"
    title="Share On Pinterest"
    #fbBtn="shareButton"
    [url]="this.url"
    #piBtn="shareButton"
  >
    <fa-icon [icon]="this.icons.pinterest" size="lg"></fa-icon>
  </button>
  <button
    mat-icon-button
    #fbBtn="shareButton"
    shareButton="linkedin"
    title="Share On LinkedIn"
    [url]="this.url"
    #liBtn="shareButton"
  >
    <fa-icon [icon]="this.icons.linkedIn" size="lg"></fa-icon>
  </button>
  <button
    mat-icon-button
    #fbBtn="shareButton"
    shareButton="twitter"
    title="Share On Twitter"
    [url]="this.url"
    #twBtn="shareButton"
  >
    <fa-icon [icon]="this.icons.twitter" size="lg"></fa-icon>
  </button>
  <button
    mat-icon-button
    shareButton="email"
    title="Share In Email"
    [url]="this.url"
    #emBtn="shareButton"
  >
    <fa-icon [icon]="this.icons.email" size="lg"></fa-icon>
  </button>
</div>
