@import "src/styles-colors.scss";

.info__info {
  font-size: 1.6vw;
  font-weight: 500;
  white-space: pre-wrap;
  text-align: center;
}

.info__desc {
  font-size: 1vw;
  font-weight: 400;
  white-space: pre-wrap;
  text-align: center;
  color: $color-gray-5;
}
