@import "src/styles-colors.scss";

.info__info {
  font-size: 1.4vw;
  font-weight: 500;
  white-space: pre-wrap;
  text-align: center;

  @media screen and (max-width: 960px) {
    font-size: 18px;
    white-space: normal;
    padding: 10px;
  }
}

.info__desc {
  font-size: 1vw;
  font-weight: 400;
  white-space: pre-wrap;
  text-align: center;
  color: $color-gray-5;

  @media screen and (max-width: 960px) {
    font-size: 14px;
    white-space: normal;
    padding: 10px;
  }
}
