<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1vw">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2vw">
    <div
      class="login__form-width--name-label"
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <span
        class="login__input-label"
        [ngClass]="{ 'login__input-label--error': !this.isFirstNameValid }"
      >
        Name*
        {{ !this.isFirstNameValid ? this.requiredErorrMessage : "" }}
      </span>
      <input
        class="login__input"
        [ngClass]="{ 'login__input--error': !this.isFirstNameValid }"
        type="text"
        [(ngModel)]="this.userVM.first_name"
        required
        (input)="this.isFirstNameValid$.next($event.target.value)"
      />
    </div>
    <div
      class="login__form-width--name-label"
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <span
        class="login__input-label"
        [ngClass]="{ 'login__input-label--error': !this.isLastNameValid }"
      >
        Surname*
        {{ !this.isLastNameValid ? this.requiredErorrMessage : "" }}
      </span>
      <input
        class="login__input"
        [ngClass]="{ 'login__input--error': !this.isLastNameValid }"
        type="text"
        [(ngModel)]="this.userVM.last_name"
        (input)="this.isLastNameValid$.next($event.target.value)"
      />
    </div>
  </div>
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span
      class="login__input-label"
      [ngClass]="{ 'login__input-label--error': !this.isEmailValid }"
    >
      E-Mail*
      {{ !this.isEmailValid ? this.requiredErorrMessage : "" }}
    </span>
    <input
      class="login__input"
      [ngClass]="{ 'login__input--error': !this.isEmailValid }"
      type="email"
      [(ngModel)]="this.userVM.email"
      (input)="this.isEmailValid$.next($event.target.value)"
    />
  </div>
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span
      class="login__input-label"
      [ngClass]="{
        'login__input-label--error':
          !this.isPasswordValid || !this.arePasswordsSame
      }"
    >
      Password*
      {{ !this.isPasswordValid ? this.requiredErorrMessage : "" }}
      {{ !this.arePasswordsSame ? this.passwordErrorMEssage : "" }}
    </span>
    <input
      class="login__input"
      [ngClass]="{ 'login__input--error': !this.isPasswordValid }"
      type="password"
      [(ngModel)]="this.userVM.password"
      (input)="this.repeatPassword$.next($event.target.value)"
      (input)="this.isFormValid$.next($event.target.value)"
    />
  </div>
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span
      class="login__input-label"
      [ngClass]="{
        'login__input-label--error':
          !this.isRepeatPasswordValid || !this.arePasswordsSame
      }"
    >
      Repeat password*
      {{ !this.isRepeatPasswordValid ? this.requiredErorrMessage : "" }}
      {{ !this.arePasswordsSame ? this.passwordErrorMEssage : "" }}
    </span>
    <input
      class="login__input"
      [ngClass]="{ 'login__input--error': !this.isRepeatPasswordValid }"
      type="password"
      [(ngModel)]="this.repeatPassword"
      (input)="this.repeatPassword$.next($event.target.value)"
    />
  </div>
  <button class="checkout__btn" (click)="this.submitRegistration()">
    Confirm
  </button>
</div>
