<div fxLayout="column" fxLayoutAlign="center center">
  <div
    class="sc-about__content"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="3vw"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="start end"
      fxLayoutGap="0.55vh"
      fxFlex="50"
    >
      <span class="sc-about__label-big">WE ARE</span>
      <span class="sc-about__label-big--bold">PERSONAL</span>
      <span class="sc-about__label-big--bold">EASY</span>
      <span class="sc-about__label-big--bold">HELPFUL</span>
      <span class="sc-about__label-big--bold">FUNCTIONAL</span>
    </div>
    <div
      class="sc-about__p-contrainer"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="1.3vw"
      fxFlex="50"
    >
      <span class="sc-about__title-little">ABOUT AS</span>
      <div class="sc-about__p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Velit aliquet
        sagittis id consectetur purus. Elementum nisi quis eleifend quam
        adipiscing.
      </div>
      <div class="sc-about__p">
        Malesuada fames ac turpis egestas integer eget aliquet. Sodales ut eu
        sem integer. Urna duis convallis convallis tellus id interdum velit
        laoreet. Ultrices gravida dictum fusce ut placerat orci nulla. Turpis
        egestas integer eget aliquet. Tristique senectus et netus et malesuada
        fames ac.
      </div>
      <div class="sc-about__p">
        Malesuada fames ac turpis egestas integer eget aliquet. Sodales ut eu
        sem integer. Urna duis convallis convallis tellus id interdum velit
        laoreet. Ultrices gravida dictum fusce ut placerat orci nulla. Turpis
        egestas integer eget aliquet. Tristique senectus et netus et malesuada
        fames ac.
      </div>
      <div class="sc-about__p">
        Nec sagittis aliquam malesuada bibendum. Ullamcorper sit amet risus
        nullam eget felis. A cras semper auctor neque vitae tempus quam.
      </div>
      <span class="sc-about__mail">
        info@whitespacerenovation.com
      </span>
    </div>
  </div>
</div>
