<div
  class="floor-plan-upload__container"
  *ngIf="this.questions"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <p class="floor-plan__info">
    {{ this.info }}
  </p>

  <app-image-manager
    [uploadConfig]="this.uploadConfig"
    [images]="this.images"
    (uploadEvent)="this.onUploadEvent($event)"
  >
  </app-image-manager>

  <!-- <app-upload
    [data]="this.uploadConfig"
    (uploadEvent)="this.onUploadEvent($event)"
  ></app-upload>
  <div
    *ngIf="(this.$chekcoutState | async).floorPlan?.name"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <span class="floor-paln-upload__msg">
      {{ this.successMsg }}
    </span>
    <span class="floor-plan-upload__file-name">
      {{ (this.$chekcoutState | async).floorPlan?.name }}
    </span>
  </div> -->
</div>
