@import "src/styles-colors.scss";

.floor-plan-upload__container {
  height: 40vh;
}

.floor-paln-upload__msg {
  font-size: 2vw;
  color: $color-primary-btn;
}

.floor-plan-upload__file-name {
  color: $color-primary-btn;
}
