@import "../../../styles.scss";

.belive-in__container {
  width: 65vw;
  @media (max-width: 960px) {
    width: 80vw;
  }
}

.belive-in__section {
  padding: 0.78vw;
}

.belive-in__divider--right {
  border-right: 1px solid black;
  @media (max-width: 960px) {
    border: none;
  }
}

.belive-in__section-labels {
  padding-top: 3.4vh;
}
