<div class="admin-blog-dialog">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="300px">
    <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="20px">
      <!-- <mat-form-field appearance="fill">
        <mat-label>Creator</mat-label>
        <mat-select [(value)]="selectedAdmin">
          <mat-option
            *ngFor="let assignee of creatorMock"
            [value]="assignee.value"
            (click)="this.onOptionClick(assignee.viewValue)"
          >
            {{ assignee.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-label>Title: </mat-label>
        <input matInput placeholder="Title" [(ngModel)]="title" />
      </div>
    </div>
  </div>

  <mat-dialog-content class="admin-blog-dialog__content mat-typography">
    <ckeditor
      [editor]="customEditor"
      [(ngModel)]="editorData"
      [config]="config"
    ></ckeditor>
  </mat-dialog-content>

  <button mat-flat-button color="primary" (click)="this.save()">Post</button>
</div>
