.admin-blog-dialog {
  overflow-x: hidden;
  overflow-y: visible;
  button {
    display: block;
    margin-left: auto;
    margin-top: 30px;
    width: 5vw;
  }
}

.admin-blog-dialog__content {
  margin-top: 5vh;
}
::ng-deep .ck-editor__editable {
  min-height: 200px !important;
}
