.blog-page {
  padding: 4vw;
  height: 95vh;

  overflow-x: auto;

  @media only screen and(max-width:959px) {
    height: auto;
    min-height: 100vh;
    justify-content: center;
    margin: 30px 0px;
  }

  app-logo {
    transform: scale(0.8);
  }
}

.blog-page__row {
  width: max-content;
}

.blog-page__post {
  display: inline-block;
}
