<div
  *ngIf="this.ready"
  id="blog-page23"
  class="blog-page"
  fxLayout="column"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="start center"
  fxLayoutGap="2vw"
>
  <!-- (wheel)="this.onMouseWheel($event)" -->
  <app-logo
    fxLayout="row"
    fxHide.lt-md
    fxLayoutAlign="center center"
  ></app-logo>

  <div
    class="blog-page__row"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="2vw"
    fxLayoutAlign="start center"
  >
    <div *ngFor="let post of this.topBlogPosts" class="blog-page__post">
      <app-blog-post
        class="width-100"
        [id]="post.id"
        [title]="post.title"
        [text]="post.text"
        [date]="post.date"
      ></app-blog-post>
    </div>
  </div>
  <div
    *ngIf="!this.isHandset"
    class="blog-page__row"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="2vw"
    fxLayoutAlign="start center"
  >
    <div *ngFor="let post of this.bottomBlogPosts" class="blog-page__post">
      <app-blog-post
        class="width-100"
        [id]="post.id"
        [title]="post.title"
        [text]="post.text"
        [date]="post.date"
      ></app-blog-post>
    </div>
  </div>
</div>
