.blog-dialog {
  .mat-dialog-title {
    font-size: 1.77vw;
    margin-bottom: 0;
    line-height: 2.6vw;
    letter-spacing: 0.15625vw;
  }

  h3 {
    font-weight: 300;
    line-height: 1.302vw;
    font-size: 1.25vw;
    letter-spacing: 0.1vw;
  }
  p {
    line-height: 1.3vw;
    font-weight: 300;
    font-size: 0.833vw;
  }
}
mat-dialog-content {
  margin-top: 50px;
}
