.blog-dialog {
  .mat-dialog-title {
    font-size: 34px;
    margin-bottom: 0px;
    line-height: 50px;
    letter-spacing: 3px;
  }

  h3 {
    font-weight: 300;
    line-height: 25px;
    font-size: 24px;
    letter-spacing: 2px;
  }
  p {
    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
  }
}
