<article class="blog-dialog">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 mat-dialog-title>Lorem ipsum dolor sit amet.</h2>
    <app-social-icons></app-social-icons>
  </div>

  <app-attachment></app-attachment>
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid neque unde
    quos qui cumque repellendus, iure dolor nihil pariatur obcaecati assumenda,
    eos in nulla iusto quisquam commodi repudiandae voluptate quidem! Nam
    dignissimos maiores voluptatem consectetur ratione fugit autem vero corrupti
    numquam, possimus, porro recusandae enim obcaecati sint reiciendis esse ea.
  </h3>

  <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start start">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          soluta sed rem debitis cupiditate vitae omnis dolor! Laboriosam,
          obcaecati tenetur veritatis quam totam voluptas corrupti odit
          exercitationem porro voluptates cupiditate fuga temporibus eius
          officiis id, nulla eos. Consectetur magni corporis modi animi, officia
          quam ullam in quasi optio molestiae sint, fugit dolor et esse mollitia
          suscipit aperiam aliquid perferendis nam, quod vero exercitationem
          adipisci? Doloremque repudiandae molestias tempora dolore ipsum,
          nostrum, quibusdam deserunt, recusandae est enim voluptate! Modi esse
          beatae atque voluptas omnis? Est ad ducimus mollitia tenetur quasi
          saepe, eligendi dolor neque sunt odio esse aspernatur quae non,
          voluptatibus fuga itaque quisquam suscipit velit cupiditate ipsam
          temporibus. Nulla quae harum quos obcaecati doloremque nesciunt. Aut
          dignissimos cupiditate fugiat esse quibusdam quod alias rem officia
          ullam labore repellendus libero, quos voluptatem ratione laborum.
          Nulla, sequi quam? Sed illum modi facilis obcaecati, distinctio
          eligendi cum, quod expedita possimus id adipisci assumenda?
        </p>
      </div>
    </div>
  </mat-dialog-content>
</article>
