<div
  class="add-on width-100"
  fxLayout="row"
  fxLayoutAlign="start start"
  fxLayoutAlign.lt-md="start start"
  fxLayoutGap="1vw"
  fxLayoutGap.lt-md="10px"
>
  <div
    class="add-on__info width-100"
    [ngClass]="{ 'cursor-pointer': this.isHandset }"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="0.5vw"
    (mouseenter)="this.showDescription()"
    (mouseleave)="this.hideDescription()"
    (click)="this.toggleDescription()"
  >
    <div
      class="width-100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="space-between start"
    >
      <span class="add-on__label">
        {{ this.addOn.name }}
      </span>
      <span class="add-on__label">
        {{ this.currency }}{{ this.addOn.price }}
      </span>
    </div>
    <div
      *ngIf="this.toShowDescription"
      class="add-on__decription"
      fxLayout="row"
      fxLayoutAlign="start start"
    >
      {{ this.addOn.description }}
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <button
      class="add-on__btn"
      [ngClass]="{
        checkout__btn: this.addOn.isSelected,
        'checkout__btn--invert': !this.addOn.isSelected
      }"
      (click)="this.clickOnAddOn()"
    >
      {{ this.addRemoveLabel }}
    </button>
  </div>
</div>
