@import "src/styles-colors.scss";

.add-on {
  padding: 0.5vw 0;

  @media screen and (max-width: 960px) {
    padding: 5px 0;
  }
}

.add-on__btn {
  min-width: 105px;
}

.add-on__info {
  margin-top: 0.1042vw;
  &:hover {
    color: $color-gray-5;
  }
  @media screen and (max-width: 960px) {
    padding: 5px 0;
    &:hover {
      color: inherit;
    }
  }
}

.add-on__label {
  font-size: 1.7vw;
  font-weight: 400;

  @media screen and (max-width: 960px) {
    font-size: 18px;
  }
}

.add-on__decription {
  padding: 0 6vw 0 2vw;
  font-size: 1vw;

  @media screen and (max-width: 960px) {
    font-size: 14px;
    padding: 0;
    color: $color-gray-5;
  }
}
