<div
  class="add-on width-100"
  fxLayout="row"
  fxLayoutAlign="start start"
  fxLayoutGap="1vw"
>
  <div
    class="add-on__info width-100"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="0.5vw"
    (mouseenter)="this.showDescription()"
    (mouseleave)="this.hideDescription()"
  >
    <div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="add-on__label">
        {{ this.addOn.name }}
      </span>
      <span class="add-on__label"> ${{ this.addOn.price }} </span>
    </div>
    <div
      *ngIf="this.toShowDescription"
      class="add-on__decription"
      fxLayout="row"
      fxLayoutAlign="start start"
    >
      {{ this.addOn.description }}
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <div
      [ngClass]="{
        checkout__btn: this.addOn.isSelected,
        'checkout__btn--invert': !this.addOn.isSelected
      }"
      (click)="this.clickOnAddOn()"
    >
      {{ this.addRemoveLabel }}
    </div>
  </div>
</div>
