<div
  class="thank-you-page"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <app-logo></app-logo>
  <div fxLayout="column" fxLayoutAlign="start center">
    <h1 class="thank-you__text--big">
      Thank you for making us <br />
      part of your life
    </h1>
    <p>
      Now just relax and you will hear from your <br />
      architect within next 24 hours.
    </p>
  </div>

  <div>
    <small>
      Meanwhile if you want to see more abut us and renovation process vist our
      <a class="a__text-decoration--none thank-you__blog" href="/blog">
        <b>blog</b>
      </a>
    </small>
    <div
      class="thank-you__footer"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <app-social-icons [whiteIcons]="true"></app-social-icons>
    </div>
  </div>
</div>
