.thank-you-page {
  padding-top: 3vw;
  color: white;
  text-align: center;
  height: 95vh;
}

.thank-you__text--big {
  font-size: 45px;
  font-weight: 400;
}

.thank-you__blog {
  color: white;
}

.thank-you__footer {
  margin-bottom: 3vh;
}
