<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1vw">
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span class="login__input-label">Mail</span>
    <input class="login__input" type="text" />
  </div>
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span class="login__input-label">Password*</span>
    <input class="login__input" type="text" />
  </div>
  <div class="checkout__btn" [routerLink]="['/checkout']">
    Confirm
  </div>
</div>
