<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1vw">
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span
      class="login__input-label"
      [ngClass]="{ 'login__input-label--error': !this.isEmailValid }"
    >
      Mail*
      {{ !this.isEmailValid ? this.requiredErorrMessage : "" }}
    </span>
    <input class="login__input" type="email" [(ngModel)]="this.email" />
  </div>
  <div class="login__form-width" fxLayout="column" fxLayoutAlign="start start">
    <span
      class="login__input-label"
      [ngClass]="{
        'login__input-label--error': !this.isPasswordValid
      }"
    >
      Password*
      {{ !this.isPasswordValid ? this.requiredErorrMessage : "" }}
    </span>
    <input class="login__input" type="password" [(ngModel)]="this.password" />
  </div>
  <div class="checkout__btn" (click)="this.logInUser()">
    Confirm
  </div>
</div>
