<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    appGradient
    #drawer
    class="sidenav width-100"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="end"
  >
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <div
      class="navbar-ss__sidenav-header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <app-logo></app-logo>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </div>

    <mat-nav-list
      class="navbar-ss__nav-list"
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <a
        mat-list-item
        [routerLink]="this.homeLink"
        (click)="drawer.toggle()"
        aria-label="home"
      >
        Home
      </a>
      <a
        mat-list-item
        [routerLink]="this.packagesLink"
        (click)="drawer.toggle()"
        aria-label="packages"
      >
        Packages
      </a>

      <a
        mat-list-item
        [routerLink]="this.fqasLink"
        (click)="drawer.toggle()"
        aria-label="fqas"
      >
        FAQ’S
      </a>
      <a
        mat-list-item
        [routerLink]="this.blogLink"
        (click)="drawer.toggle()"
        aria-label="blog"
      >
        Blog
      </a>
      <a
        mat-list-item
        [routerLink]="this.aboutLink"
        (click)="drawer.toggle()"
        aria-label="about"
      >
        About
      </a>
      <a
        mat-list-item
        [routerLink]="this.contactLink"
        (click)="drawer.toggle()"
        aria-label="contact"
      >
        Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      class="navbar-ss__mat-toolbar"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <app-logo></app-logo>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
