.nav-page__tab {
  width: 30px;
  height: 100vh;
}

.nav-page__tab--hover:hover {
  cursor: pointer;
}

.nav-page__tab-text {
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
  width: 250px;
  margin-bottom: 150px;
}

.nav-page__page {
  height: 100vh;
}
