@import "src/styles-colors.scss";

.info-price-label__label {
  color: $color-gray-5;
  min-width: 100px;
}

.info-price-label__info-price {
  font-weight: 400;
}

.info-price-label__info {
  float: left;
}

.info-price-label__price {
  float: right;
  @media screen and (max-width: 960px) {
    float: left;
  }
}

.info-price-label--bold {
  font-weight: bold;
}
