@import "../../../styles.scss";

.you-get__container {
  width: $page-width;
  //TODO: Set size with variables
  min-height: 500px;
}

.you-get__content-height {
  //TODO: Set size with variables
  min-height: 400px !important;
}

.you-get__content-container {
  //TODO: Set size with variables
  min-height: 450px !important;
}

.you-get__img {
  width: 32vw;
  height: auto;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}
