@import "../../../styles.scss";

.you-get__container {
  width: $page-width;
}

.you-get__content-height {
  min-height: 55vh;
}

.you-get__content-container {
  min-height: 23.43vw !important;
}

.you-get__img {
  width: 32vw;
  height: auto;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}

.you-get__labels-container {
  width: 30vw;
}
