@import "src/styles.scss";
@import "src/styles-colors.scss";

.navbar__container {
  position: fixed;
  bottom: 50%;
  right: calc(-#{$navbar-width} / 2 + #{$navbar-height} / 2);

  z-index: 2000;
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);

  width: $navbar-width;
}

.navbar__btn {
  width: calc(#{$navbar-width} * 0.2);
  height: $btn-height;
  border: none;
  color: white;
}

.navbar__button--basic {
  color: black;
  background-color: white;
  border: 0.5px solid $color-complited;
}
