<div
  *ngIf="this.data"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="1vw"
>
  <div *ngIf="this.data?.message" class="upload__message">
    {{ this.data?.message }}
  </div>
  <div *ngIf="this.data?.info" class="upload__info">
    {{ this.data?.info }}
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button
      class="checkout__btn"
      [ngClass]="{ app__uppercase: this.data.uppercaseButtonText }"
      (click)="onUpload()"
    >
      Upload
    </button>
    <span *ngIf="this.data?.bottomInfo" class="upload__info--bottom">
      {{ this.data.bottomInfo }}
    </span>
    <input
      style="display: none"
      type="file"
      #fileUpload23
      [multiple]="this.data?.isMultiple"
      [accept]="this.data?.supportedFileTypes"
    />
  </div>
</div>
