.upload__message {
  font-size: 1.4vw;
  font-weight: 500;
  white-space: pre-wrap;
  text-align: center;
}

.upload__info {
  font-size: 0.9vw;
  font-weight: 400;
  white-space: pre-wrap;
  text-align: center;
  color: rgb(178, 178, 178);
}

.upload__info--bottom {
  @extend .upload__info;
  font-size: 0.75vw;
}
