@import "src/styles-colors.scss";

.upload__message {
  font-size: 1.4vw;
  font-weight: 500;
  white-space: pre-wrap;
  text-align: center;

  @media screen and (max-width: 960px) {
    font-size: 20px;
  }
}

.upload__info {
  font-size: 0.9vw;
  font-weight: 400;
  white-space: pre-wrap;
  text-align: center;
  color: rgb(178, 178, 178);

  @media screen and (max-width: 960px) {
    font-size: 14px;
  }
}

.upload__info--bottom {
  @extend .upload__info;
  font-size: 0.75vw;

  @media screen and (max-width: 960px) {
    font-size: 12px;
  }
}

.upload__info--tooltip-icon {
  cursor: help;
  font-size: 1.2vw;
  color: $color-primary-btn;
}

.upload__info--tooltip-icon-span {
  width: 1.2vw;
  height: 1.2vw;
}
