<div
  *ngIf="this.data"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="1vw"
>
  <div class="upload__message">
    {{ this.data?.message }}
  </div>
  <div class="upload__info">
    {{ this.data?.info }}
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <button (click)="onUpload()">
      Upload
    </button>
    <input
      type="file"
      #fileUpload23
      [multiple]="this.data.isMultiple"
      [accept]="this.supportedFileTypes"
      style="display: none;"
    />
    <span class="upload__info"> You can upload: {{ this.data.limit }} </span>
  </div>
</div>
