.upload__message {
  font-size: 1.4vw;
  font-weight: 500;
  white-space: pre-wrap;
  text-align: center;

  @media screen and (max-width: 960px) {
    font-size: 20px;
  }
}

.upload__info {
  font-size: 1vw;
  font-weight: 400;
  white-space: pre-wrap;
  text-align: center;
  color: rgb(178, 178, 178);
  
  @media screen and (max-width: 960px) {
    font-size: 14px;
  }
}
