@import "src/styles-colors.scss";

.question-stepper__step {
  width: 2.5vw;
  height: 2.5vw;

  border: 0.1042vw solid skyblue;
  color: skyblue;
  cursor: pointer;
}

.question-stepper__label {
  font-size: 1.3vw;
}

//If you change name of this class, change also class Step.
.question-stepper__step--uncomplited {
  border: 2px solid grey;
  color: grey;
}

//If you change name of this class, change also class Step.
.question-stepper__step--current {
  border: 2px solid $color-selected;
  color: $color-selected;
}

//If you change name of this class, change also class Step.
.question-stepper__step--complited {
  border: 2px solid $color-complited;
  color: $color-complited;
}
