<div
  class="checkout-message-page"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  appGradient
>
  <h1 class="checkout-message__text--big">
    Thank you for making us <br />
    part of your life
  </h1>
  <p>
    We are working on this step of the process for mobile... <br />
    Please move to the desktop Web app, so you can finish going through the
    necessary process, so we can make the best plan for you!
  </p>

  <div>
    <small>
      Meanwhile if you want to see more abut us and renovation process vist our
      <a class="a__text-decoration--none checkout-message__blog" href="/blog">
        <b>blog</b>
      </a>
    </small>
    <div
      class="checkout-message__footer"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <app-social-icons [whiteIcons]="true"></app-social-icons>
    </div>
  </div>
</div>
