<div
  class="checkout-message-page"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="50px"
  appGradient
>
  <div class="checkout-message__content checkout-message__text--big">
    Please use the desktop version of the website to complete the purchase.
  </div>

  <div class="checkout-message__content">
    <p>
      Meanwhile if you want to see more abut us and renovation process vist our
      <a class="a__text-decoration--none checkout-message__blog" href="/blog">
        <b>blog</b>
      </a>
    </p>
    <div
      class="checkout-message__footer"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <app-social-icons [whiteIcons]="true"></app-social-icons>
    </div>
  </div>
</div>
