.checkout-message-page {
  padding-top: 3vw;
  color: white;
  text-align: center;
  height: 95vh;
}

.checkout-message__content {
  max-width: 300px;
}

.checkout-message__text--big {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}

.checkout-message__blog {
  color: white;
}

.checkout-message__footer {
  margin-bottom: 30px;
}
