@import "../../../styles.scss";

.do-it__container {
  width: $page-width;
  //TODO: Set size with variables
  min-height: 50vh;
  p {
    font-size: 0.833vw;
  }
}

.do-it__video-container {
  padding-top: 10%;
}

.do-it__container--p {
  font-weight: 300;
}
.do-it__content-height {
  //TODO: Set size with variables
  min-height: 40vh !important;
}

.do-it__content-container {
  //TODO: Set size with variables
  min-height: 45vh !important;
}
