<div class="do-it__container" fxLayout="column" fxLayoutAlign="start center">
  <app-title
    [gradient]="this.gradient"
    [text]="this.doItTitle.text"
    [size]="this.doItTitle.size"
  ></app-title>
  <div
    class="do-it__content-container"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxFill
  >
    <div
      class="do-it__content-height"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxFlex="25"
    >
      <div *ngFor="let para of this.paragraphs">
        <p *ngIf="para.isBold">
          <b>{{ para.text }}</b>
        </p>
        <p class="do-it__container--p" *ngIf="!para.isBold">
          {{ para.text }}
        </p>
      </div>
    </div>
    <div
      class="do-it__video-container do-it__content-height"
      fxLayout="column"
      fxLayoutAlign="end end"
      fxFlex="35"
    >
      <div class="iframe-container">
        <video autoplay>
          <source
            src="../../../assets/coverr-landscape-in-algarve-portugal-2813.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div>
