<div
  class="admin-packages"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="100px"
>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Package Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Package Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Package Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="100px">
  <div fxFlex="100">
    <mat-form-field
      class="admin-packages__form-field width-100"
      appearance="outline"
    >
      <mat-label>Additional info</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>
