<div
  class="admin-packages"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="5.2vw"
>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Package Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 1</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 3</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Package Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 1</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 3</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Package Name</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 1</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Text 3</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
