<div
  class="image-manager"
  fxLayout="column"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
>
  <h3 *ngIf="this.config.title">
    {{ this.config.title }}
  </h3>

  <div *ngIf="this.config.showDragNDrop">Drag & Drop goes here</div>

  <app-upload
    [data]="this.uploadConfig"
    (uploadEvent)="onUploadEvent($event)"
  ></app-upload>

  <app-image-grid
    *ngIf="this.config.showGrid"
    [config]="this.gridConfig"
    [images]="this.images"
    (deleteEvent)="this.onDeleteEvent($event)"
  ></app-image-grid>
</div>
