<div
  class="image-manager"
  [ngClass]="{
    'image-manager--dialog-one-col-mode': this.config.dialogOneColMode
  }"
  fxLayout="column"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
>
  <h3 *ngIf="this.config.title">
    {{ this.config.title }}
  </h3>

  <app-upload
    [data]="this.uploadConfig"
    (uploadEvent)="onUploadEvent($event)"
  ></app-upload>

  <div
    [id]="this.dragNDropId"
    class="image-manager__drag-n-drop"
    (drop)="this.dropHandler($event)"
    (dragover)="this.dragOverHandler($event)"
  >
    <app-image-grid
      *ngIf="this.config.showGrid"
      [onColMode]="this.config.dialogOneColMode"
      [config]="this.gridConfig"
      [images]="this.images"
      (deleteEvent)="this.onDeleteEvent($event)"
    ></app-image-grid>
  </div>
</div>
