@import "../../../styles-colors.scss";

.sc-packages {
  height: 100%;
}

.sc-packages__title {
  font-size: 3.4vw;
  font-weight: 800;

  margin-top: 3%;
}

.sc-packages__subtitle {
  font-size: 1.3vw;
  font-weight: 600;
}

.sc-packages__subtitle-decs {
  font-size: 0.9vw;
  width: 60%;
  text-align: center;
}

.packages-out-box__description {
  font-size: 0.8vw;
  font-weight: 300;

  white-space: pre-line;
}

.packages-out-box__desc--imp {
  font-size: 2vh;
  font-weight: 500;
}
