@import "../../../styles.scss";

.home__container {
  // min-height: 100vh;
  width: $page-width;
  display: block;
  position: relative;
}

.home__container::after {
  content: "";
  background: url("../../../assets/images/home/HomeBackground.png") no-repeat
    center;
  background-size: 50%;
  opacity: 0.1;
  top: 5vh;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.home__slogan-container {
  margin-top: 25vh;
  margin-bottom: 20vh;
  line-height: 2.35vw;
  > span {
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
  }
}

.home__logo {
  width: 15%;
  display: block;
  margin-bottom: 1.565vw;
  margin-top: 3.125vw;
}
