@import "src/styles-colors";

$img_size: 6vw;
$grid_gap: 1.3vw;

.image-grid__grid {
  width: calc(#{$img_size} * 8 + #{$grid_gap} * 8);

  @media screen and (max-width: 960px) {
    width: 300px;
    margin-right: -10px;
  }
}

.image-grid__grid--one-col {
  @media screen and (max-width: 960px) {
    height: 380px;
    overflow: auto;
  }
}
