<div
  class="works"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5vw"
>
  <div fxLayout="column" fxLayoutAlign="center end">
    <app-title
      [text]="this.worksTitleNormal.text"
      [size]="this.worksTitleNormal.size"
      [gradient]="this.gradient"
    ></app-title>
    <app-title
      [text]="this.worksTitleBold.text"
      [size]="this.worksTitleBold.size"
      [gradient]="this.gradient"
    ></app-title>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <div *ngFor="let imageDescription of this.imageDescriptionArray">
      <app-image-description
        [image]="imageDescription.image"
        [number]="imageDescription.number"
        [description]="imageDescription.description"
      ></app-image-description>
    </div>
  </div>
</div>
