<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutAlign="center center">
    <app-title
      [text]="this.worksTitleNormal.text"
      [size]="this.worksTitleNormal.size"
    ></app-title>
    <app-title
      [text]="this.worksTitleBold.text"
      [size]="this.worksTitleBold.size"
    ></app-title>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <div>Slikica</div>
    <div>Slikica</div>
    <div>Slikica</div>
    <div>Slikica</div>
    <div>Slikica</div>
  </div>
</div>
