<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5%">
  <div
    *ngIf="this.package"
    class="sc-packages-box__container"
    [ngClass]="{
      'sc-packages-box__border-2px': this.isSelected,
      'app__box-shadow': this.isSelected
    }"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap=".52vw"
  >
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <span class="packages-box__type">
        {{ this.package?.box?.name }}
      </span>
      <span class="packages-box__price app__text-shadow">
        ${{ this.package?.box?.price }}
      </span>
      <span class="packages-box__description">
        {{ this.package?.box?.description }}
      </span>
    </div>

    <div
      *ngIf="!this.isSelected"
      class="packages-box__select"
      fxLayoutAlign="center center"
      (click)="this.selectPackage(this.package?.box)"
    >
      SELECT
    </div>
    <div
      *ngIf="this.isSelected"
      class="packages-box__continue"
      fxLayoutAlign="center center"
      (click)="this.continue()"
    >
      CONTINUE
    </div>
  </div>

  <!-- <div
    class="packages-out-box__conatainer"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap=".52vw"
  >
    <div
      *ngFor="let desc of this.package.descriptions"
      class="packages-out-box__description"
    >
      {{ desc }}
      <br />
    </div>
  </div> -->
</div>
