<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="3vw">
  <img
    src="../../../assets/images/home/logo.png"
    alt="Website Logo"
    class="home__logo"
  />
  <div>
    checkout nav
  </div>
  <div>
    Bold text
  </div>
  <div>
    NonBold text
  </div>
</div>

<!-- <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
  <a [routerLink]="[{ outlets: { checkoutSteps: ['floor-plan'] } }]">
    Ovdee FP
  </a>
  <a [routerLink]="[{ outlets: { checkoutSteps: ['questionnarie'] } }]">
    Ovdee Q
  </a>
  <a
    [routerLink]="[{ outlets: { checkoutSteps: ['space-photos'] } }]"
    routerLinkActive="router-link-active"
  >
    Ovdee SP
  </a>
</div> -->
