<div
  *ngIf="this.$checkoutState | async"
  class="checkout-page"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
>
  <a *ngIf="!this.isHandset" class="app__a--none cursor-pointer" href="/home">
    <img
      class="app__logo"
      src="assets/images/home/logo.png"
      alt="Website Logo"
    />
  </a>

  <app-tabbar></app-tabbar>
  <app-info
    *ngIf="
      (this.$checkoutState | async).info &&
      (this.$checkoutState | async).infoDesc.length
    "
    [info]="(this.$checkoutState | async).info"
    [description]="(this.$checkoutState | async).infoDesc"
  ></app-info>
  <div>
    <ng-content></ng-content>
  </div>
</div>
