.opening-label__container {
  cursor: pointer;
  span {
    font-weight: 300;

    margin-bottom: 0.52vw;
  }
}

.opening-label__title {
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 0.52vw;
}

.opening-label__description {
  font-size: 0.833vw;
}
