$white: #ffffff;
$text-shadow: #a5a5a5;

.color--white {
  color: $white;
}

.bckg-color--white {
  background-color: $white !important;
}

//##Gray
//Base gray
$color-gray-0: #000;
//Gradation from Darker to Lighter
$color-gray-1: #212121;
$color-gray-2: #353535;
$color-gray-3: #686868;
$color-gray-4: #939392;
$color-gray-5: #b2b2b2;
$color-gray-6: #b6b6b6;
$color-gray-7: #e0e0e0;
$color-gray-8: #f2f2f2;
$color-gray-9: #f7f7f7;
$color-gray-10: #fafafa;

$color-selected: #010153;
$color-complited: #bc8f8f;
