@import "src/styles.scss";

.home-page__container {
  background-image: url("../../assets/images/home/we.png"),
    url("../../assets/images/home/how.png"),
    url("../../assets/images/home/what.png");
  background-repeat: no-repeat;
  background-size: 10%, 15%, 15%;
  background-position: 45% 95%, 65% 20%, 85% 90%;
}
