<div
  class="home-page__container"
  #homepage
  fxLayout="row"
  fxLayoutAlign="start center"
  (keydown)="this.onKeyDown($event)"
  (click)="this.onClick()"
>
  <app-home></app-home>
  <app-believe-in appParallax></app-believe-in>
  <app-do-it></app-do-it>
  <app-works></app-works>
  <app-you-get></app-you-get>
</div>
<img
  src="../../assets/images/home/we.png"
  class="home-page__img home-page__img--we"
/>

<img
  src="../../assets/images/home/how.png"
  appParallax
  class="home-page__img home-page__img--how"
/>

<img
  src="../../assets/images/home/what.png"
  appParallax
  class="home-page__img home-page__img--what"
/>
