@import "src/styles.scss";

.home-page__container {
  height: 95vh;
  background-repeat: no-repeat;
}

.home-page__img {
  position: absolute;
  background-repeat: no-repeat;
  &--we {
    height: 39%;
    left: 140vw;
    z-index: -1;
    top: 55vh;
  }

  &--how {
    height: 35%;
    left: 215vw;
    z-index: -1;
    top: 0vh;
  }

  &--what {
    height: 35%;
    left: 345vw;
    z-index: -1;
    top: 55vh;
  }
}
