.question__textarea {
  width: 35vw !important;

  @media screen and (max-width: 960px) {
    width: 280px !important;
  }
}

.question__question {
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: pre-line;

  text-align: center;

  width: 45vw;
  min-height: 13.5vh;

  font-size: 1vw;

  @media screen and (max-width: 960px) {
    min-width: 280px;
    min-height: 150px;
    font-size: 14px;
  }
}
