.question__textarea {
  width: 35vw !important;

  @media screen and (max-width: 960px) {
    width: 280px !important;
  }
}

.question__question {
  width: 45vw;
  font-size: 1vw;
  text-align: center;

  @media screen and (max-width: 960px) {
    width: 280px;
  }
}
