//TODO(Mladen): introduce and refactor styling to include variables
@import "../../../styles.scss";
.footer__container {
  position: absolute;
  bottom: 0%;
  padding: 15px 0 15px 0;
  background: orange;
  width: calc(7 * #{$page-width});
  background: rgb(242, 232, 220);
  background: -moz-linear-gradient(
    90deg,
    rgba(242, 232, 220, 1) 0%,
    rgba(217, 183, 197, 1) 50%,
    rgba(15, 13, 59, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(242, 232, 220, 1) 0%,
    rgba(217, 183, 197, 1) 50%,
    rgba(15, 13, 59, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(242, 232, 220, 1) 0%,
    rgba(217, 183, 197, 1) 50%,
    rgba(15, 13, 59, 1) 100%
  );
}

.footer__main-message {
  letter-spacing: 2px;
  font-size: 21px;
  font-weight: 400;
  color: white;
}

.footer__scroll-container {
  * {
    color: white;
  }
}

.footer__content {
  position: fixed;
}
