@import "../../../styles.scss";

$from-width: 24vw;
$input-width: 10.8vw;
$section-side-margin: 2.3vw;

.sc-contact__footer {
  margin-top: 11vh;
  font-size: 0.8vw;
}

.sc-contact__form {
  width: $from-width;
  margin-right: $section-side-margin;
}

.sc-contact__form--width {
  width: $from-width;
}

.sc-contact__grid-input {
  background-color: transparent;
  border: 0.5px solid white;
  color: white;
  padding: 0.201vw;
  width: $input-width;
}

.sc-contact__textarea {
  background-color: transparent;
  border: 0.5px solid white;
  color: white;
  width: calc(#{$from-width} - 0.3125vw);
}

.sc-contact__info {
  width: 17vw;
  height: 16.6vw;
  padding-left: $section-side-margin;
  border-left: 0.5px solid white;
}

.sc-contact__title {
  font-size: 4.4vw;
  font-weight: bold;

  margin-top: 4vw;
  margin-bottom: 4vw;
}

.sc-contact__name {
  font-size: 1.3vw;
}

.sc-contact__location {
  font-size: 0.95vw;
}

.sc-contact__number {
  font-size: 0.95vw;
}

.sc-contact__msg {
  font-size: 0.9vw;
  font-weight: 300;
}

.sc-contact__logo {
  width: 3vw;
  @media screen and (max-width: 960px) {
    width: 70px;
  }
}

.sc-contact__input-label {
  font-size: 0.76vw;
  font-weight: 300;
}

.sc-contact--lt-md {
  color: white;
}

.sc-contact__title--lt-md {
  font-size: 40px;
  font-weight: 700;
}

.sc-contact__label--lt-md {
  font-weight: 300;
}

.sc-contact__input--lt-md {
  background: transparent;
  border: 1px solid white;
  color: white;
  min-height: 40px;
  font-size: 20px;
}

.sc-contact__btn--lt-md {
  font-size: 18px;
  padding-top: 5px;
  font-weight: 300;
  background: transparent;
  color: white;
  width: 120px;
  border: 0.5px solid white;
}

.sc-contact__name--lt-md {
  font-size: 32px;
}
