<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap=".52vw"
  fxHide.lt-md
  *ngIf="!(this.isHandset$ | async)"
>
  <div fxFlex="17"></div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap=".52vw"
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxFill>
      <span class="sc-contact__title app__text-shadow"> CONTACT US </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <!-- Form -->
      <div
        class="sc-contact__form"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap=".52vw"
      >
        <!-- first section (grid input) -->
        <div
          class="sc-contact__form--width"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="column" fxLayoutAlign="start start">
            <span class="sc-contact__input-label">Name*</span>
            <input class="sc-contact__grid-input" type="text" />
          </div>
          <div fxLayout="column" fxLayoutAlign="start start">
            <span class="sc-contact__input-label">City*</span>
            <input class="sc-contact__grid-input" type="text" />
          </div>
        </div>
        <div
          class="sc-contact__form--width"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="column" fxLayoutAlign="start start">
            <span class="sc-contact__input-label">Mail*</span>
            <input class="sc-contact__grid-input" type="text" />
          </div>
          <div fxLayout="column" fxLayoutAlign="start start">
            <span class="sc-contact__input-label">Phone*</span>
            <input class="sc-contact__grid-input" type="text" />
          </div>
        </div>
        <!-- first section (grid input) end -->
        <div fxLayout="column" fxLayoutAlign="start start">
          <span class="sc-contact__input-label">Text*</span>
          <textarea class="sc-contact__textarea" rows="6"></textarea>
        </div>

        <button class="app__btn" fxLayoutAlign="center center">
          <span>SEND</span>
        </button>
      </div>
      <!-- Our info -->
      <div
        class="sc-contact__info"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap="2.2vh"
      >
        <span class="sc-contact__logo">Logo</span>
        <span class="sc-contact__name app__text-shadow"
          >White Spaces Redesign</span
        >
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap=".1vw">
          <span class="sc-contact__location">Pantelejska 25</span>
          <span class="sc-contact__location">18000 Niš</span>
          <span class="sc-contact__location">Serbia</span>
        </div>
        <span class="sc-contact__number">+381 63 123-456</span>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap=".1vw">
          <span class="sc-contact__msg"
            >We would like to conntect with you</span
          >
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap=".26vw">
            <span>PI</span>
            <span>LI</span>
            <span>FB</span>
            <span>IG</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="sc-contact__footer width-100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span>Privacy Policy // Terms of service</span>
      <span>Copyright 2020 © White Space Redesign</span>
    </div>
  </div>
  <div fxFlex="17"></div>
</div>
<div
  *ngIf="this.isHandset$ | async"
  class="sc-contact--lt-md container__padding--lt-md"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="30px"
  appGradient
>
  <div class="sc-contact__title--lt-md width-100">CONTACT US</div>

  <div
    class="sc-contact__form--lt-md width-100"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
  >
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label class="sc-contact__label--lt-md width-100" for="">Name*</label>
      <input class="sc-contact__input--lt-md width-100" type="text" />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label class="sc-contact__label--lt-md width-100" for="">E-mail*</label>
      <input class="sc-contact__input--lt-md width-100" type="text" />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label class="sc-contact__label--lt-md width-100" for="">City*</label>
      <input class="sc-contact__input--lt-md width-100" type="text" />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label class="sc-contact__label--lt-md width-100" for="">Phone*</label>
      <input class="sc-contact__input--lt-md width-100" type="text" />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label class="sc-contact__label--lt-md width-100" for="">Text*</label>
      <textarea
        class="sc-contact__input--lt-md width-100"
        name="text"
        rows="5"
      ></textarea>
    </div>
    <div class="width-100" fxLayout="row" fxLayoutAlign="start start">
      <button class="sc-contact__btn--lt-md" fxLayoutAlign="center center">
        <span>SEND</span>
      </button>
    </div>
  </div>

  <div
    class="sc-contact__info-section--lt-md width-100"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="15px"
  >
    <div class="sc-contact__name--lt-md app__text-shadow">
      White Spaces Redesign
    </div>

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <div class="sc-contact__info--lt-md">Pantelejska 25</div>
      <div class="sc-contact__info--lt-md">18000 Niš</div>
      <div class="sc-contact__info--lt-md">Serbia</div>
    </div>

    <div class="sc-contact__info--lt-md">+381 63 123-456</div>
    <div class="sc-contact__info--lt-md">
      <div>We would love to connect with you</div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <span>PI</span>
        <span>LI</span>
        <span>FB</span>
        <span>ING</span>
      </div>
    </div>
  </div>

  <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
    <div>Privacy Policy // Terms of Service</div>
    <div>Copyright 2020 © White Space Redesign</div>
  </div>
</div>
