<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap=".52vw"
  fxHide.lt-md
  *ngIf="!this.isHandset"
>
  <div fxFlex="17"></div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap=".52vw"
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxFill>
      <span class="sc-contact__title app__text-shadow"> CONTACT US </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <!-- Form -->
      <div
        class="sc-contact__form"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap=".52vw"
      >
        <!-- first section (grid input) -->
        <div
          class="sc-contact__form--width"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="column" fxLayoutAlign="start start">
            <span
              class="sc-contact__input-label"
              [ngClass]="{ 'label--error': !this.isNameValid }"
            >
              Name*
            </span>
            <input
              class="sc-contact__grid-input"
              type="text"
              [(ngModel)]="this.name"
              (input)="this.$isNameValid.next($event.target.value)"
            />
          </div>
          <div fxLayout="column" fxLayoutAlign="start start">
            <span
              class="sc-contact__input-label"
              [ngClass]="{ 'label--error': !this.isCityValid }"
            >
              City*
            </span>
            <input
              class="sc-contact__grid-input"
              type="text"
              [(ngModel)]="this.city"
              (input)="this.$isCityValid.next($event.target.value)"
            />
          </div>
        </div>
        <div
          class="sc-contact__form--width"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="column" fxLayoutAlign="start start">
            <span
              class="sc-contact__input-label"
              [ngClass]="{ 'label--error': !this.isMailValid }"
            >
              E-mail*
            </span>
            <input
              class="sc-contact__grid-input"
              type="email"
              [(ngModel)]="this.mail"
              (input)="this.$isMailValid.next($event.target.value)"
            />
          </div>
          <div fxLayout="column" fxLayoutAlign="start start">
            <span
              class="sc-contact__input-label"
              [ngClass]="{ 'label--error': !this.isPhoneValid }"
            >
              Phone*
            </span>
            <input
              class="sc-contact__grid-input"
              type="text"
              [(ngModel)]="this.phone"
              (input)="this.$isPhoneValid.next($event.target.value)"
            />
          </div>
        </div>
        <!-- first section (grid input) end -->
        <div fxLayout="column" fxLayoutAlign="start start">
          <span
            class="sc-contact__input-label"
            [ngClass]="{ 'label--error': !this.isTextValid }"
          >
            Text*
          </span>
          <textarea
            class="sc-contact__textarea"
            rows="6"
            [(ngModel)]="this.text"
            (input)="this.$isTextValid.next($event.target.value)"
          ></textarea>
        </div>

        <button
          class="app__btn"
          fxLayoutAlign="center center"
          (click)="this.send()"
        >
          <span>SEND</span>
        </button>
      </div>
      <!-- Our info -->
      <div
        class="sc-contact__info"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap="2.2vh"
      >
        <span class="sc-contact__logo">Logo</span>
        <span class="sc-contact__name app__text-shadow"
          >White Spaces Redesign</span
        >
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap=".1vw">
          <span class="sc-contact__location">Pantelejska 25</span>
          <span class="sc-contact__location">18000 Niš</span>
          <span class="sc-contact__location">Serbia</span>
        </div>
        <span class="sc-contact__number">+381 63 123-456</span>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap=".1vw">
          <span class="sc-contact__msg"
            >We would like to conntect with you</span
          >
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap=".26vw">
            <span>PI</span>
            <span>LI</span>
            <span>FB</span>
            <span>IG</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="sc-contact__footer width-100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span>Privacy Policy // Terms of service</span>
      <span>Copyright 2020 © White Space Redesign</span>
    </div>
  </div>
  <div fxFlex="17"></div>
</div>
<div
  *ngIf="this.isHandset"
  class="sc-contact--lt-md container__padding--lt-md"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="30px"
  appGradient
>
  <div class="sc-contact__title--lt-md width-100">CONTACT US</div>

  <div
    class="sc-contact__form--lt-md width-100"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
  >
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label
        class="sc-contact__label--lt-md width-100"
        [ngClass]="{ 'label--error': !this.isNameValid }"
        for=""
      >
        Name*
      </label>
      <input
        class="sc-contact__input--lt-md width-100"
        type="text"
        [(ngModel)]="this.name"
        (input)="this.$isNameValid.next($event.target.value)"
      />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label
        class="sc-contact__label--lt-md width-100"
        for=""
        [ngClass]="{ 'label--error': !this.isCityValid }"
      >
        City*
      </label>
      <input
        class="sc-contact__input--lt-md width-100"
        type="text"
        [(ngModel)]="this.city"
        (input)="this.$isCityValid.next($event.target.value)"
      />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label
        class="sc-contact__label--lt-md width-100"
        for=""
        [ngClass]="{ 'label--error': !this.isMailValid }"
      >
        E-mail*
      </label>
      <input
        class="sc-contact__input--lt-md width-100"
        type="text"
        [(ngModel)]="this.mail"
        (input)="this.$isMailValid.next($event.target.value)"
      />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label
        class="sc-contact__label--lt-md width-100"
        for=""
        [ngClass]="{ 'label--error': !this.isPhoneValid }"
      >
        Phone*
      </label>
      <input
        class="sc-contact__input--lt-md width-100"
        type="text"
        [(ngModel)]="this.phone"
        (input)="this.$isPhoneValid.next($event.target.value)"
      />
    </div>
    <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
      <label
        class="sc-contact__label--lt-md width-100"
        for=""
        [ngClass]="{ 'label--error': !this.isTextValid }"
      >
        Text*
      </label>
      <textarea
        class="sc-contact__input--lt-md width-100"
        name="text"
        rows="5"
        [(ngModel)]="this.text"
        (input)="this.$isTextValid.next($event.target.value)"
      ></textarea>
    </div>
    <div class="width-100" fxLayout="row" fxLayoutAlign="start start">
      <button
        class="sc-contact__btn--lt-md"
        fxLayoutAlign="center center"
        (click)="this.send()"
      >
        <span>SEND</span>
      </button>
    </div>
  </div>

  <div
    class="sc-contact__info-section--lt-md width-100"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="15px"
  >
    <div class="sc-contact__name--lt-md app__text-shadow">
      White Spaces Redesign
    </div>

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <div class="sc-contact__info--lt-md">Pantelejska 25</div>
      <div class="sc-contact__info--lt-md">18000 Niš</div>
      <div class="sc-contact__info--lt-md">Serbia</div>
    </div>

    <div class="sc-contact__info--lt-md">+381 63 123-456</div>
    <div class="sc-contact__info--lt-md">
      <div>We would love to connect with you</div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <span>PI</span>
        <span>LI</span>
        <span>FB</span>
        <span>ING</span>
      </div>
    </div>
  </div>

  <div class="width-100" fxLayout="column" fxLayoutAlign="start start">
    <div>Privacy Policy // Terms of Service</div>
    <div>Copyright 2020 © White Space Redesign</div>
  </div>
</div>
