//TODO(Mladen): dynamic variables
.image-description--container {
  .image-description--number {
    color: #c5b2d6;
    margin-bottom: 0.78125vw;
    font-size: 0.834vw;
  }
  .image-description--description {
    font-size: 0.723vw;
    margin-top: 0.723vw;
  }
  span {
    font-weight: 500;
    white-space: pre-line;
    text-align: center;
  }
}
