<article
  class="blog-post"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap=".78125vw"
  fxLayoutGap.lt-md="15px"
>
  <div
    class="blog-post__header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <h3 [matTooltip]="this.title" matTooltipPosition="above">
      {{ this.title }}
    </h3>
    <span class="blog-post__date">
      {{ this.date }}
    </span>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex>
    <p>
      {{ this.textPlaceholder }}
    </p>

    <a class="app__a--none" [href]="this.url" target="_blank">
      <app-button-monochrome></app-button-monochrome>
    </a>
  </div>
</article>
